{% extends 'base.html' %} <!-- extending base html file so that I don't have to retpye it everytime -->

{% load static %}

{% block title%} <!-- title of the page -->
    Celebrity AI Chatbot
{% endblock %}



<body>
    {% block content %}

    <div class = 'container text-center'>
        <form method = "GET">
            {% csrf_token %} <!-- part of the url that shows in the middle...the csrf token -->
            <!-- creating a table to put the checkboxes in -->
            <table class="table table-danger table-striped"> <!-- classes make the table have distinguished rows and in the colour red -->
                <thead>
                    <tr>
                        <!-- creating the two table headers -->
                        <th>Celebrities</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody>
                    <tr> <!-- all the <tr>s are different checkboxes. it will go to the forms file and get the input field as a checkbox to display -->
                        <td>{{ form.first_celebrity.label }}</td>
                        <td>{{ form.first_celebrity }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.second_celebrity.label }}</td>
                        <td>{{ form.second_celebrity }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.third_celebrity.label }}</td>
                        <td>{{ form.third_celebrity }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.fourth_celebrity.label }}</td>
                        <td>{{ form.fourth_celebrity }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.fifth_celebrity.label }}</td>
                        <td>{{ form.fifth_celebrity }}</td>
                    </tr>
                </tbody>
            </table>
            <br> <!-- end of table -->
            <div class="fw-semibold text-center text-danger">
                <!-- label to tell uses to input question in the box below -->
                <p>Enter Your Question Here </p>
            </div>
            <div class = 'fw-semibold'>
                <p>Some Examples :</p>
            </div>
            <div class="container">
                <input class="btn btn-outline-danger" type="submit" value="Who are they?" name="Who are they?">
                <input class="btn btn-outline-danger" type="submit" value="Are they well liked?" name="Are they well liked?">
                <input class="btn btn-outline-danger" type="submit" value="How many movies are they in?" name="How many movies are they in?" >
                

            </div>
            <br>
            <div class="border border-danger-subtle">
                <!-- where users actually input their question -->
                {{ form.celeb_question}}
            </div>
            <br>
            <!-- creating ask button -->
            <input class="btn btn-danger" type="submit" value="Ask" name="Ask">
            <br> 
            <br>  
            <div class="fw-semibold">
                <p>Answer Will Appear Below Here </p>
            </div>
            <div class = "border border-danger-subtle"> <!-- space for the answer to appear -->
                {{ answer }}
            </div>
            <br>
            <br>
            <!-- giving a quick disclaimer that benedict cumberbatch height comparisons don't work -->
            <div class="text-center text-wrap fst-italic">
                <p>Quick note : If you are asking whether Benedict Cumberbatch is shorter or taller than someone else, chances are it will not work. It will say Benedict is the shortest or the tallest no matter who you select. This is an error in ChatGPT. Benedict is apparently alpha and cannot be beaten...lol. </p>
            </div>
            <br>
            <br>
            <br>
        </form>
    </div>


    
    
    {% endblock %} <!-- ending of the base html file code -->
</body>
