{% extends 'base.html' %}

{% load static %}

{% block title%}
    Celebrity AI Chatbot
{% endblock %}



<body>
    {% block content %}

    <div class = 'container text-center'>
        <form method = "GET">
            {% csrf_token %}
            <table class="table table-danger table-striped"> <!-- classes make the table have distinguished rows and in the colour red -->
                <thead>
                    <tr>
                        <th>Celebrities</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ form.first_celebrity.label }}</td>
                        <td>{{ form.first_celebrity }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.second_celebrity.label }}</td>
                        <td>{{ form.second_celebrity }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.third_celebrity.label }}</td>
                        <td>{{ form.third_celebrity }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.fourth_celebrity.label }}</td>
                        <td>{{ form.fourth_celebrity }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.fifth_celebrity.label }}</td>
                        <td>{{ form.fifth_celebrity }}</td>
                    </tr>
                </tbody>
            </table>
            <br> <!-- end of table -->
            <div class="fw-semibold text-center text-danger">
                <p>Enter your question here </p>
            </div>
            <div class="border border-danger-subtle">
                {{ form.celeb_question}}
            </div>
            <br>
            <input class="btn btn-danger" type="submit" value="Ask">
            <br> 
            <br>  
            <div class="fw-semibold">
                <p>Answer will appear below here </p>
            </div>
            <div class = "border border-danger-subtle">
                {{ answer }}
            </div>
            <br>
            <br>
            <br>
        </form>
    </div>


    
    
    {% endblock %}
</body>
