{% extends 'base.html' %}

{% load static %}

{% block title%}
    Celebrity AI Chatbot
{% endblock %}



<body>
    {% block content %}

    <div class = 'container text-center'>
        <form method = "GET">
            {% csrf_token %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Celebrities</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ form.first_celebrity.label }}</td>
                        <td>{{ form.first_celebrity }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.second_celebrity.label }}</td>
                        <td>{{ form.second_celebrity }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.third_celebrity.label }}</td>
                        <td>{{ form.third_celebrity }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.fourth_celebrity.label }}</td>
                        <td>{{ form.fourth_celebrity }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.fifth_celebrity.label }}</td>
                        <td>{{ form.fifth_celebrity }}</td>
                    </tr>
                </tbody>
            </table>
            <div>
                {{ form.celeb_question}}
            </div>
            <br>
            <input type = "Submit" value = "Ask">
            <br>
            <div>
                {{ answer }}
            </div>
        </form>
    </div>



    
    {% endblock %}
</body>
